 body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif; 
    
 }
 html{scroll-behavior: smooth;}
 
 header{
display: flex;
height: 116px;
padding:30px;
background-color:#001eff;
align-items: center;

 }


 .logo-holder{ 
flex: 0.10;
display:flex;
justify-content: center;

 }


 
 nav{
    flex: 0.80;
    display:flex;
    justify-content: center;}

 ul{
list-style: none;
margin: 0;
padding: 0;}


 li{
display: inline-block;
font-size: 18pt;
font-weight: bold;
 }
 a{
display: inline-block;
color: #fff;
padding: 25px;
text-decoration: none;
 }



 .forside{
    display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
			color: #fff;
			font-family: 'Lato', sans-serif;
         background-color: #001eff;
 }
h1{
    font-size: 24pt;
    margin: 0;
    padding: 0;
    text-align: center;
}
h2{
    font-size: 18pt;
    margin: 0;
    padding: 0;
    text-align: center;
}


 #træningstyper{
   background-color:#fff;
   
   
}
p{text-align: center;
   font-family: 'Lato', sans-serif;
   font-size: 18px;
  margin-top: 50px;
}




 .bokse{
   display: flex;
    
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 524px;
    margin-top: 19%;
   }



.bokse section {width: 33.33%;
   height: 100%;}

#styrketræning {
background-color: #004DFF;}
#cardio{
background-color: #2B2B2A;}

#calisthenics{
background-color: #747376;}

.bokse h1{
color: #fff;
margin-top: 35%;
font-family: 'Poppins', sans-serif;
letter-spacing: 10px;
font-size: 18pt;
}
.bokse a{ 
color: #fff;
margin-top: 10%;
font-family: 'Poppins', sans-serif;
letter-spacing: 4px;
font-size: 12pt;

}
.læsmerecenter{
  text-align: center;
}



  
.bigger-section{
   display: flex;
   align-content: center;
}

#styrke{
   background-color: #001eff;
   width: 100%;
   min-height: 100vh;
   }



#cardio2{background-color:#2B2B2A ;
   width: 100%;
   min-height: 100vh;}

#calisthenics2{
   background-color:#747376 ;
   width: 100%;
   min-height: 100vh;
}

.tekstboks{
   
width: 450px;
background: #001eff;
padding: 50px;
margin:50px;
margin-left: 270px;
box-sizing: 0 0 5px rgba(0,0,0,0.5);
color: #fff;
}
.tekstboks h2{
   margin-bottom: 10px;
   text-transform: uppercase;
   letter-spacing: 1px;
   
}

.tekstboks p{
   line-height: 1.4;
   text-align: justify;
}
.tekstboks2{
   width: 450px;
   background: #2B2B2A;
   padding: 50px;
   margin:50px;
   margin-left: 270px;
   box-sizing: 0 0 5px rgba(0,0,0,0.5);
   color: #fff;}
.tekstboks2 h2{
   margin-bottom: 10px;
   text-transform: uppercase;
   letter-spacing: 1px;}

.tekstboks2 p{
   line-height: 1.4;
   text-align: justify;}

.tekstboks3{
   width: 450px;
   background: #747376;
   padding: 50px;
   margin:50px;
   margin-left: 270px;
   box-sizing: 0 0 5px rgba(0,0,0,0.5);
   color: #fff;

}
.tekstboks3 h2{
   margin-bottom: 10px;
   text-transform: uppercase;
   letter-spacing: 1px;
}
.tekstboks3 p{
   line-height: 1.4;
   text-align: justify;
}


#check{display: none;}

.content{display: none;}

label{
   display: inline-block;
   margin-top: 15px;
   color: #fff;
   text-decoration: underline;
   cursor: pointer;
   font-weight: 600;
}
#check:checked ~ .content{
   display:block;
}

#check:checked ~ label{
   visibility: hidden;
}

#check:checked ~ label:after{
   content:'Læs mindre';
   display:block;
 visibility: visible;
}



.billeder{
   display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 65px;
  
}
.billeder img{
   width: 350px;
   margin: 35px 20px 20px 20px;
}





 






